{% extends "index.html" %}

{% block content %}
<div class="container" style="margin-top: 30px;">
    <div class="text-center" style="margin-top: 20px; margin-bottom: 20px;">
        <input type="text" id="search_planes" class="form-control" placeholder="Search planes" list="airport_list" style="display: inline-block; width: 350px;">
        <!-- <datalist id="airport_list">
            {% for airport in airports %}
                <option value="{{ airport.AIRPORT }}">
            {% endfor %}
        </datalist> -->
        <button type="button" class="btn btn-outline-info" id="search_button">Search</button>
        <button type="button" class="btn btn-outline-secondary" id="reset_button">Reset</button>

    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                {% if planes %}
                    {% for column_name in planes[0].keys() %}
                        <th>{{ column_name }}</th>
                    {% endfor %}
                {% endif %}
            </tr>
        </thead>
        <tbody id="planes_table_body">
            {% for planes in planes %}
                <tr>
                    {% for value in planes.values() %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    document.getElementById('search_button').addEventListener('click', function() {
        let input = document.getElementById('search_planes').value.toLowerCase();
        let table = document.getElementById('planes_table_body');
        let rows = table.getElementsByTagName('tr');

        for (let i = 0; i < rows.length; i++) {
            let airportName = rows[i].getElementsByTagName('td')[1].textContent.toLowerCase();
            if (airportName.includes(input)) {
                rows[i].style.display = '';
            } else {
                rows[i].style.display = 'none';
            }
        }
    });
</script>

<script>
    document.getElementById('search_button').addEventListener('click', function() {
        filterTable();
    });

    document.getElementById('reset_button').addEventListener('click', function() {
        document.getElementById('search_planes').value = '';
        filterTable();
    });

    function filterTable() {
        let input = document.getElementById('search_planes').value.toLowerCase();
        let table = document.getElementById('planes_table_body');
        let rows = table.getElementsByTagName('tr');

        for (let i = 0; i < rows.length; i++) {
            let airportName = rows[i].getElementsByTagName('td')[1].textContent.toLowerCase();
            if (airportName.includes(input)) {
                rows[i].style.display = '';
            } else {
                rows[i].style.display = 'none';
            }
        }
    }
    </script>

{% endblock %}
