<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Flight_Guru</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{{ url_for('static', filename='img/cs.ico') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/custom.css') }}">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.5/leaflet.awesome-markers.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.5/leaflet.awesome-markers.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/2c4bdf18ce.js" crossorigin="anonymous"></script>
        <style>
            body {
            font-size: 18px; 
        }
            .nav-link {
            font-size: 21px; 
        }
        .nav-item {
            font-size: 18px; 
        }

        .navbar-brand {
            font-size: 32px; 
        }
        </style>
    </head>
    
    <body>
       
       
               
            
    
            <header>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container">
                        <a class="navbar-brand">Flight Subscription</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('cancelled_flights_by_states') }}" style="position: absolute; top: 15px; left: 200px;">Return</a>
                                    <!-- <a href="{{ url_for('cancelled_flights_by_states') }}" style="position: absolute; top: 30px; left: 35px;">Return</a> -->
                                </li>
                            </ul>
                            <!-- {% if session["user"] %} -->
                            <div class="navbar-nav ml-auto">
                                <span class="navbar-text mr-3">
                                    Hi, {{ session["user"] }} !
                                </span>
                                <div class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{{ url_for('account_settings') }}">Account Settings</a>
                                        <a class="dropdown-item text-danger" href="{{ url_for('logout') }}">Logout</a>
                                    </div>
                                </div>
                            </div>
                            <!-- {% else %}
                            <div class="navbar-nav ml-auto">
                                <a class="nav-item nav-link mr-3" href="{{ url_for('login') }}">Log in</a>
                                <a class="nav-item nav-link" href="{{ url_for('signup') }}">Sign up</a>
                            </div>
                            {% endif %} -->
                        </div>
                    </div>
                </nav>
            </header>

            
            {% if subscribed_flights %}
            <div class="container" style="max-width: 85%; margin-left: auto; margin-right: auto;">
                <h2 style="margin-top: 50pt;">Your Subscribed Flights</h2>
                <table class="table" style="width: 100%;">
                    <thead>
                        <tr>
                            {% for column_name in subscribed_flights[0].keys() %}
                                <th>{{ column_name }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                <tbody>
                    {% for flight in subscribed_flights %}
                    <tr>
                        {% for key, value in flight.items() %}
                            {% if key in ['SCHEDULED_DEPARTURE', 'SCHEDULED_ARRIVAL'] %}
                                <td>{{ "%02d:%02d"|format(value // 100, value % 100) }}</td>
                            {% else %}
                                {% if key == 'STATUS' and value != 'Not cancelled' %}
                                    <td class="cancelled">Cancelled: {{ value }}</td>
                                {% else %}
                                    <td>{{ value }}</td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                            <td>
                                <form action="{{ url_for('unsubscribe_flight') }}" method="POST">
                                    <input type="hidden" name="flight_number" value="{{ flight['FLIGHT_NUMBER'] }}">
                                    <input type="hidden" name="airline" value="{{ flight['AIRLINE'] }}">
                                    <button type="submit" class="btn btn-outline-danger">Unsubscribe</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        
            </div>
            


        <hr style="margin-top: 40pt; margin-bottom: 10pt; width: 85%;">

<div class="container" style="max-width: 85%; margin-left: auto; margin-right: auto;">
            <h2 style="margin-top: 40pt;">Available Flights</h2>
    <form action="{{ url_for('search_subscribed_flights') }}" method="POST" class="form-inline" style="margin-bottom: 10pt;" style="margin-right: 5pt;">
        <input type="text" class="form-control mr-2" name="search_airline" placeholder="Airline" style="margin-right: 5pt;">
        <input type="text" class="form-control mr-2" name="search_flight_number" placeholder="Flight Number" style="margin-right: 5pt;">
        <input type="date" class="form-control mr-2" name="search_date" placeholder="Date">
        <button type="submit" class="btn btn-outline-info" style="margin-right: 5pt;">Search</button>
        <a href="{{ url_for('subscription') }}" class="btn btn-outline-secondary">Reset</a>

    </form>
</div>
    
    <table class="table table-hover" style="margin-top: 20pt; width: 85%; margin-left: auto; margin-right: auto;" >
        <thead>
            <tr>
                {% if flights %}
                    {% for column_name in flights[0].keys() %}
                        {% if column_name != 'CANCELLATION_REASON' %}
                            <th>{{ column_name }}</th>
                        {% endif %}
                    {% endfor %}
                {% endif %}

            </tr>
        </thead>
        <tbody>
            {% for flight in flights %}
            <tr>
                {% for key, value in flight.items() %}
                {% if key != 'CANCELLATION_REASON' %}
                    {% if key in ['SCHEDULED_DEPARTURE', 'SCHEDULED_ARRIVAL'] %}
                        <td>{{ "%02d:%02d"|format(value // 100, value % 100) }}</td>
                    {% else %}
                        <td>{{ value }}</td>
                    {% endif %}
                {% endif %}
            {% endfor %}
            
                <td>
                    {% if (flight['DATE'], flight['FLIGHT_NUMBER'], flight['AIRLINE']) not in subscribed_flight_identifiers %}
                        <form action="{{ url_for('subscribe_flight') }}" method="POST">
                    <input type="hidden" name="flight_id" value="{{ flight['id'] }}">
                    <input type="hidden" name="airline" value="{{ flight['AIRLINE'] }}">
                    <input type="hidden" name="flight_number" value="{{ flight['FLIGHT_NUMBER'] }}">
                    <input type="hidden" name="tail_number" value="{{ flight['TAIL_NUMBER'] }}">
                    <input type="hidden" name="date" value="{{ flight['DATE'] }}">
                    <input type="hidden" name="scheduled_departure" value="{{ flight['SCHEDULED_DEPARTURE'] }}">
                    <!-- <input type="hidden" name="status" value="{{ flight['CANCELLATION_REASON'] }}"> -->
                    <button type="submit" class="btn" style="background: none; border: none; color: #0033ff; font-size: 1.2rem; vertical-align: middle;">
                        <i class="fas fa-plus"></i>
                    </button>
                </form>
            {% else %}
                <button type="button" class="btn" style="background: none; border: none; color: #999; font-size: 1.2rem; vertical-align: middle;" disabled>
                    <i class="fas fa-check"></i>
                </button>
            {% endif %}
        </td>
    </tr>
{% endfor %}

        </tbody>
    </table>


<footer class="footer">
    <div class="container">
        <p class="text-muted"><small>App developed for CS411 UIUC</small></p>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='script/modal.js') }}"></script>

<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



</body>
</html>